aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
async-timeout==4.0.3
attrs==24.3.0
certifi==2024.12.14
charset-normalizer==3.4.2
click==8.1.8
frozenlist==1.5.0
idna==3.10
multidict==6.1.0
pillow==11.1.0
propcache==0.3.1
psutil==6.1.1
pypng==0.20220715.0
pyTelegramBotAPI==4.26.0
python-dotenv==1.0.1
qrcode==8.0
requests==2.32.3
typing_extensions==4.12.2
urllib3==2.4.0
yarl==1.20.0
hysteria2-api==0.1.2

# webpanel
annotated-types==0.7.0
anyio==4.8.0
fastapi==0.115.12
h11==0.16.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
pydantic==2.10.5
pydantic_core==2.27.2
python-multipart==0.0.20
sniffio==1.3.1
starlette==0.46.2
hypercorn==0.17.3
pydantic-settings==2.7.1

# subs
certbot==3.1.0
